<a href="https://colab.research.google.com/github/bhadreshpsavani/PythonSessions/blob/main/Day3_ExploringPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. More about Comprehension
2. Map and Zip
3. EQual / not Equal
6. lambda function
7. ternary function
4. File IO - 
5. Excptions - https://www.programiz.com/python-programming/exceptions

## 1. More about Comprehension

In [3]:
name = ["bhadresh", "bhavesh", "shradha"]
name2 = [8 , 7, 7]
job_role = ["B NLP Engineer", "MEctatronics", "Mechatronics"]

In [5]:
[True for n in name for n2 in name2 if len(n)==n2]

[True, True, True, True, True]

In [6]:
result = []
for n in name:
  for n2 in name2:
    if len(n)==n2:
      result.append(True)
result

[True, True, True, True, True]

In [8]:
for items in zip(name, name2):
  print(items)

('bhadresh', 8)
('bhavesh', 7)
('shradha', 7)

In [9]:
def fun(n):
  return n+1

fun(9)

10

In [17]:
job_role = ["NLP", "MEctatronics", "Mechatronics"]

In [18]:
job_role.sort()
job_role

['MEctatronics', 'Mechatronics', 'NLP']

In [19]:
job_role.sort(key=lambda x:len(x)) #lambda
job_role

['NLP', 'MEctatronics', 'Mechatronics']

In [ ]:
lambda input: return function

In [ ]:
def complex(x, y):
  return x/y**2

In [44]:
def sample(y): 
  return y**2

mass=[4,5,6,7]
bmi=map(sample ,mass)
list(bmi)

[16, 25, 36, 49]

In [47]:
mass=[4,5,6,7]
bmi=map(lambda x:x**2, mass)
list(bmi)

[16, 25, 36, 49]

In [37]:
ht=[1.65,1.70,1.55,1.80]
bmi=map(sample ,mass,ht)
list(bmi)

[16.528925619834713,
 19.031141868512112,
 27.055150884495315,
 23.456790123456788]

In [28]:
[item for item in zip(mass,ht)]

[(45, 1.65), (55, 1.7), (65, 1.55), (76, 1.8)]

In [32]:
45/((1.65)**2)

16.528925619834713

In [75]:
x = "bhadtresh" #
y = "bhadtresh" # Copy Values
x, y

('bhadtresh', 'bhadtresh')

In [76]:
id(x), id(y)

(140099814534960, 140099814534960)

In [77]:
x == y

True

In [78]:
x is y

True

In [74]:
x.__eq__(y)

True

## File I/O

In [81]:
x = input()

Parth

In [82]:
x

'Parth'

In [83]:
import pandas as pd

In [106]:
df = pd.read_excel('IO LIST MF33.xlsx')

In [107]:
df.head()

   Unnamed: 0             name9  ... address                    ns2:xhtml
0         NaN  GVL_INPUT_OUTPUT  ...  %IX0.0  AUTO MANUAL SELECTOR SWITCH
1         NaN  GVL_INPUT_OUTPUT  ...  %IX0.1            START PUSH BUTTOM
2         NaN  GVL_INPUT_OUTPUT  ...  %IX0.2  AUTO MANUAL SELECTOR SWITCH
3         NaN  GVL_INPUT_OUTPUT  ...  %IX0.3            RESET PUSH BUTTON
4         NaN  GVL_INPUT_OUTPUT  ...  %IX0.4             STOP PUSH BUTTON

[5 rows x 5 columns]

In [108]:
df.columns

Index(['Unnamed: 0', 'name9', 'name10', 'address', 'ns2:xhtml'], dtype='object')

In [110]:
name_df = df[['name9', 'name10', 'address', 'ns2:xhtml']]

In [112]:
name_df.dropna(inplace=True)
name_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                name9  ...                                          ns2:xhtml
0    GVL_INPUT_OUTPUT  ...                        AUTO MANUAL SELECTOR SWITCH
1    GVL_INPUT_OUTPUT  ...                                  START PUSH BUTTOM
2    GVL_INPUT_OUTPUT  ...                        AUTO MANUAL SELECTOR SWITCH
3    GVL_INPUT_OUTPUT  ...                                  RESET PUSH BUTTON
4    GVL_INPUT_OUTPUT  ...                                   STOP PUSH BUTTON
..                ...  ...                                                ...
188  GVL_INPUT_OUTPUT  ...                LEFT RIGHT END FOLDING BEAM RETURNS
192  GVL_INPUT_OUTPUT  ...                                              SPARE
193  GVL_INPUT_OUTPUT  ...                                              SPARE
195  GVL_INPUT_OUTPUT  ...                                              SPARE
196  GVL_INPUT_OUTPUT  ...  **********************************************...

[168 rows x 4 columns]

In [117]:
name_df['bhadresh'] = name_df['name10'].apply(lambda x: x+"_a")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [118]:
name_df.head()

              name9  ...          bhadresh
0  GVL_INPUT_OUTPUT  ...        bAUTO_SW_a
1  GVL_INPUT_OUTPUT  ...  bCycleSTART_PB_a
2  GVL_INPUT_OUTPUT  ...   bCycleSTOP_PB_a
3  GVL_INPUT_OUTPUT  ...       bRESET_PB_a
4  GVL_INPUT_OUTPUT  ...  bCyclePAUSE_PB_a

[5 rows x 5 columns]

In [119]:
name_df.to_excel('bhavesh_paisa_app.xlsx', index=True)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   name9       199 non-null    object
 2   name10      196 non-null    object
 3   address     196 non-null    object
 4   ns2:xhtml   168 non-null    object
dtypes: float64(1), object(4)
memory usage: 8.0+ KB

In [92]:
df.ns2:xhtml.value_counts()

NameError: ignored

In [89]:
df.name9.value_counts()

GVL_INPUT_OUTPUT    199
Name: name9, dtype: int64

In [90]:
df.name10.value_counts()

bDB_HYDRAULIC_MOTOR_ON                     1
bDB_MODULE_MOVEMENT_FORWARD_PRXY           1
bDB_END_TOP_BEAM_LR_UP_PS                  1
bSPARE_12i                                 1
bPNP_TROLLEY_REVRSE_END_STOP_PRXY          1
                                          ..
bSB_SHEET_LOADED_ON_TRANSFER_TABLE_PRXY    1
bSPARE_18i                                 1
bSB_FOLD_BEAM_REV_PS                       1
bPNP_TROLLEY_UP_SV                         1
SPARE_9o                                   1
Name: name10, Length: 196, dtype: int64

In [91]:
df.address.value_counts()

%I*        4
%Q*        2
%QX2.6     1
%QX9.5     1
%IX10.0    1
          ..
%QX7.7     1
%IX0.1     1
%IX12.6    1
%IX3.0     1
%QX0.0     1
Name: address, Length: 192, dtype: int64